page-chat {
	.item-ios.item-block .item-inner {
		padding-right: 0;
	}

	.chat-item ion-avatar img {
		height: 40px;
		width: 40px;
	}
	.chat-item p {
		border-radius: 8px;
		padding: 10px 16px;
		overflow: visible;
		text-overflow: inherit;
		white-space: normal;
	}

	.item-ios ion-avatar[item-right] {
		margin-right: 0;
	}

	.item ion-avatar {
		margin-bottom: 0 !important;
	}

	.item-md.item-block .item-inner {
		padding-right: 0;
	}

	.item .label-ios, .item .label-md {
		margin-top: 0;
	}

	.item .input-wrapper {
		align-self: flex-start;
	}

	.chat .item:not(.chat-first) ion-avatar img {
		visibility: hidden;
	}

	.chat .item.chat-first {
		margin-top: 1em;
	}

	.chat .item-avatar {
		min-height: auto;
		padding: 0;
	}

	.text-input {
		padding: 0 .4em 0 3.5em;
	}

	.chat-animate-on .chat-item.ng-enter {
		-webkit-animation: fadeInUp 0.4s;
		animation: fadeInUp 0.4s;
	}

	.chat-user:not(:last-child):after {
		content: ',';
		margin-right: 0.2em;
	}

	.chat .item:not(.chat-first) .tail {
		display: none;
	}

	.tail {
		display: inline-block;
		margin-left: -16px;
		position: absolute;
		margin-top: 9px;
	}

	.tail svg {
		height: 18px;
	}

	.chat-from .tail {
		left: 100%;
		margin-left: -59px;
		transform: scaleX(-1);
	}

	.item-md.chat-from .tail {
		margin-left: -68px;
	}

	.chat .item ion-avatar img {
		top: 8px;
		max-height: 40px;
		max-width: 40px;
	}
}

#attachment {
	display: none;
}

.send-button {
	position: absolute;
	right: 1.6em;
	margin-top: -1.9em;
	border-left: 1px solid #e4e4e4;
	border-radius: 0;
	padding: .2em 0 .2em .7em;
	height: auto;
}

.attachment-link {
	font-size: 1.7em;
	position: absolute;
	left: .3em;
	margin-top: -1.6em;
	padding: .2em 0 .2em .7em;
	height: auto;
}
.bg{
	background-image: url('../screens/bg.jpg');
	width:100%;
	height: 100%;
}